
body{
    flex:1;
    background-color: #4BB186;
    
}

.header_container {
    position: fixed; /* Fixe la position de l'en-tête */
    top: 0; /* Place l'en-tête en haut de la page */
    left: 0; /* Place l'en-tête tout à gauche */
    width: 100%; /* Largeur à 100% pour occuper toute la largeur de la page */
    background-color: #fff; /* Couleur de fond de l'en-tête */
    color: #fff; /* Couleur du texte de l'en-tête */
    padding: 20px; /* Espace intérieur pour le contenu de l'en-tête */
    z-index: 1000; /* Empile l'en-tête au-dessus des autres éléments */
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; /* Couleur de fond de votre header */
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); /* Ombre portée */
    
}
.lien-sans-decoration {
    text-decoration: none; /* Supprimer le soulignement */
    color: #000;
  }
.header_left_part{
    margin-right: 500px;
    width:15%;
    height: 100%;
    color: black;
    
}
.header_right_part{
    color: black;
    width:30%;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly

}
.main_content{
    padding:100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.main_content_login{
    padding:150px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.register_form_container{
    padding: 30px;
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); /* Ombre portée */
}
